
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title><%= title %></title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="SHOP">
            <h1><%= title %></h1>

            <p><%= description %></p>
            
                <p> didnt finish button stuff yet</p>
                <a href="/api/listings" >Browse Listings</a>
                <a href="/api/listings/new" >Add Listing</a>

         
        </div>

        <h2> Items</h2>
            <div class="listings-container">
                <div class="listing-item">

                    <h3>2024 BMW 530i</h3>
                    <p>BEEMERRRRRR</p>
                    <p>$150,000</p>
                </div>
                <div class="listing-item">

                    <h3>Diamond Necklace</h3>
                    <p>ICED OUT</p>
                    <p>$2,500,000</p>
                </div>
                <div class="listing-item">

                    <h3>SQUARE PANTS</h3>
                    <p>SPONGE BOB</p>
                    <p>$15,000,000,000</p>

                </div>

                
    </div>

    <div class="form-container">
        <h2>Add New Listing</h2>
        <form action="/api/listings" method="POST">
           
                <label for="title">Title:</label>
                <input type="text" name="title" required>
           
          
                <label for="description">Description:</label>
                <textarea id="description" name="description" rows="3"></textarea>
           
            
                <label for="price">Price ($):</label>
                <input type="number" id="price" name="price" required>

            
                <label for="categoryId">Category:</label>
                <select id="categoryId" name="categoryId" required>
                    <option value="">Select a category</option>
                    <option value="1">Cars</option>
                    <option value="2">Jewelry</option>
                    <option value="3">Clothes</option>
                </select>
        
                <label for="userId">User:</label>
                <select id="userId" name="userId" required>
                    <option value="">Select user</option>
                    <option value="1">Shahed Adnan</option>
                    <option value="2">Dukes Mayo</option>
                </select>
   
            <button type="submit">Create Listing</button>


        </form>
    </div>
</body>
</html>